@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }

  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@keyframes elfski {
  0% {
    transform: translate3d(0px, 0px, 0px) rotateZ(0deg);
  }

  100% {
    transform: translate3d(-350px, 250px, 0) rotateZ(-5deg);
  }
}

@keyframes walking-polar-bear {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }

  100% {
    transform: translate3d(-280px, 0, 0);
  }
}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

@keyframes joystick {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 15, 75, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 15, 75, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}