@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i);

@font-face {
  font-display: swap;
  font-family: "Akrobat";
  src: url(~/static/fonts/akrobat/akrobat-black-webfont.woff2) format("woff2"),
    url(~/static/fonts/akrobat/akrobat-black-webfont.woff) format("woff");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "Akrobat";
  src: url(~/static/fonts/akrobat/akrobat-bold-webfont.woff2) format("woff2"),
    url(~/static/fonts/akrobat/akrobat-bold-webfont.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "Akrobat";
  src: url(~/static/fonts/akrobat/akrobat-extrabold-webfont.woff2) format("woff2"),
    url(~/static/fonts/akrobat/akrobat-extrabold-webfont.woff) format("woff");
  font-weight: 800;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "Akrobat";
  src: url(~/static/fonts/akrobat/akrobat-extralight-webfont.woff2) format("woff2"),
    url(~/static/fonts/akrobat/akrobat-extralight-webfont.woff) format("woff");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "Akrobat";
  src: url(~/static/fonts/akrobat/akrobat-light-webfont.woff2) format("woff2"),
    url(~/static/fonts/akrobat/akrobat-light-webfont.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "Akrobat";
  src: url(.~/static/fonts/akrobat/akrobat-regular-webfont.woff2) format("woff2"),
    url(~/static/fonts/akrobat/akrobat-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "Akrobat";
  src: url(~/static/fonts/akrobat/akrobat-semibold-webfont.woff2) format("woff2"),
    url(~/static/fonts/akrobat/akrobat-semibold-webfont.woff) format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "Akrobat";
  src: url(~/static/fonts/akrobat/akrobat-thin-webfont.woff2) format("woff2"),
    url(~/static/fonts/akrobat/akrobat-thin-webfont.woff) format("woff");
  font-weight: 100;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "FarnhamDisplay";
  src: url(~/static/fonts/farnham/FarnhamDisplay-BlackOSF.woff2) format("woff2"),
    url(~/static/fonts/farnham/FarnhamDisplay-BlackOSF.woff) format("woff");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "FarnhamDisplay";
  src: url(~/static/fonts/farnham/FarnhamDisplay-BlackItalOSF.woff2) format("woff2"),
    url(~/static/fonts/farnham/FarnhamDisplay-BlackItalOSF.woff) format("woff");
  font-weight: 900;
  font-style: italic
}

@font-face {
  font-display: swap;
  font-family: "FarnhamDisplay";
  src: url(~/static/fonts/farnham/FarnhamDisplay-BoldOSF.woff2) format("woff2"),
    url(~/static/fonts/farnham/FarnhamDisplay-BoldOSF.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "FarnhamDisplay";
  src: url(~/static/fonts/farnham/FarnhamDisplay-Medium.woff2) format("woff2"),
    url(~/static/fonts/farnham/FarnhamDisplay-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "FarnhamDisplay";
  src: url(~/static/fonts/farnham/FarnhamDisplay-LightOSF.woff2) format("woff2"),
    url(~/static/fonts/farnham/FarnhamDisplay-LightOSF.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "FarnhamDisplay";
  src: url(~/static/fonts/farnham/FarnhamDisplay-BoldItalOSF.woff2) format("woff2"),
    url(~/static/fonts/farnham/FarnhamDisplay-BoldItalOSF.woff) format("woff");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-display: swap;
  font-family: "FarnhamDisplay";
  src: url(~/static/fonts/farnham/FarnhamDisplay-Bold.woff2) format("woff2"),
    url(~/static/fonts/farnham/FarnhamDisplay-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-display: swap;
  font-family: "FarnhamDisplay";
  src: url(~/static/fonts/farnham/FarnhamDisplay-LightItalOSF.woff2) format("woff2"),
    url(~/static/fonts/farnham/FarnhamDisplay-LightItalOSF.woff) format("woff");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-display: swap;
  font-family: "FarnhamDisplay";
  src: url(~/static/fonts/farnham/FarnhamDisplay-Regular.woff2) format("woff2") url(~/static/fonts/farnham/FarnhamDisplay-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

:root {
  --v-water: #2A8CCC;
}

.v-card {
  &--product {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%) !important;
    padding: 20px;
    transition: box-shadow cubic-bezier(0.19, 1, 0.22, 1) 1.2s;

    &:hover {
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 15%) !important;

      .v-image {
        .v-image__image {
          background-size: 105%;
        }
      }
    }

    .v-image {
      .v-image__image {
        background-size: 100%;
        transition: background-size cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
      }
    }

    .v-card__wishlist {
      position: absolute !important;
      top: 20px;
      right: 20px;
    }

    .v-card__brand {
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 2px;
      color: #474A4D;
      opacity: 0.5;
    }

    .v-card__title {
      font-size: 1rem;
      padding: 0;
      color: #252525;
    }

    .v-card__points {
      color: var(--v-primary-base);

      span {
        font-size: 1.75rem;
      }
    }
  }
}