// Globals
$body-font-family: "sofia-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

// Button
$btn-font-sizes: (
  "small": 0.875rem,
  "default": 1rem,
  "large": 1.25rem,
  "x-large": 1.25rem,
);
$btn-letter-spacing: normal;
$btn-text-transform: none;
